/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #45badd;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./img/robot.gif");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: white;
  background-color: #c7e9fb;
  background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  filter: brightness(95%);
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  cursor: default;
  filter: brightness(30);
}
h2 {
  text-align: center;
}
footer {
  text-align: center;

  font-weight: 700;
  color: black;
  margin-top: 200px;
}
#audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Media query for smaller device */

@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 420px;
  }
}
